<div style="text-align: center;">
        <h1>Angular Concept Practice</h1>
</div>
<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-10 justify-content-center">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/home">Home</a>
                <span class="nav-gap"></span>
                <a class="nav-link" href="#" routerLink="/components">Components</a>
                <span class="nav-gap"></span>
                <a class="nav-link" href="#" routerLink="/directives">Directives</a>
                <span class="nav-gap"></span>
                <a class="nav-link" href="#" routerLink="/services">Services</a> <span class="nav-gap"></span>
        </ul>
</div>